@import 'base/variables';
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'blocks/_titles';
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Museo Sans'; 
}
.container {
    width: 940px;
    margin: 0 auto;
}
